<!DOCTYPE html>
<html lang="en">

<style>
    h1{text-align: center;}
    thead{color: brown}
    table{border:2px solid black;
        size:200px;
    background-color: #aa8834
    }
    th{
        font-size: 50px;
    }
    body{
        background-color: thistle;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><u>ADMIN</u></h1>
<h2>YOU HAVE THE FOLLOWING OPTION</h2>
    <table style="width:50%;margin-left:auto;margin-right:auto;">
    <thead>
    <tr style="height:350px">
        <th>

<a href="/showAllUsers">SHOW ALL USERS</a>
</th>
    </tr>
    </thead>
    </table>
</body>
</html>